<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--<section name="microsoft.visualstudio.testtools" type="Microsoft.Visualstudio.Testtools.UnitTesting.TestConfigurationSection,
				 Microsoft.Visualstudio.QualtyTools.UnitTestFramework,
				 Version=10.0.0.0,
				 Culture=neutral,
				 PublicKeyToken=b03f5f7f11d50a3a"/>-->
		<section name="microsoft.visualstudio.testtools"
				 type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, 
				 Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions,
				 Version=10.0.0.0,
				 Culture=neutral,
				 PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<connectionStrings>
		<add name="MyDbConn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Demo; Integrated Securtiy=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<microsoft.visualstudio.testtools>
		<dataSources>
			<add name="MyDataSource"
			 connectionString="MyDbConn"
			 dataTableName="Sayilar"
			 dataAccessMethod="Sequential" />
		</dataSources>	
	</microsoft.visualstudio.testtools>
</configuration>

